.project-display {
  display: flex;
  overflow-x: hidden;
  .project-option {
    background: var(--card);
    color: var(--card-text);
    padding: 5px 60px 5px 15px;
    margin: 10px;
    min-width: 300px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  }
}