
// This CSS effects ALL PAGES, GLOBALLY. All other CSS should be scoped. 
// This file is imported into the project in default.vue.


@font-face {
  font-family: crimsonText;
  src: url('../assets/fonts/CrimsonText-Regular.ttf');
}

// Global vars:
:root {
  // These color scheme vars can be changed dynamically with the theme_color() function
  // --bg: white;
  // --bg-text: black;
  // --bg-text2: hsl(248,19%,40%);
  // --bg-lighter: hsl(230,19%,60%);
  // --fg: hsl(0,0%,96%);

  --box-shading: 5px;

  --very-small-font-size: 10px;
  --small-font-size: 14px;
  --regular-font-size:  19px;
  --h1-font-size: 36px;
  --h2-font-size: 24px;
  --h3-font-size: 24px;
}

html {
  font-family: crimsonText, serif;
  font-size: var(--regular-font-size);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
input, textarea {
  font-family: crimsonText;
}

.page-content {
  background: var(--bg);
  color: var(--bg-text);
  min-height: 200vh;
  padding-top: 25px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1, .h1-input input {
  text-align: center;
  color: var(--bg-text);
  font-weight: bold;
  font-size: var(--h1-font-size);
}
h2, .h2-input input{
  text-align: center;
  font-size: var(--h2-font-size);
}
h3, .h3-input input {
  font-size: var(--h3-font-size);
  font-weight: bold;
}
// Used in edit.vue
h5 {
  font-weight: normal;
  font-size: 15px;
}
p, .p {
  font-size: var(--regular-font-size);
}
a, .a {
  color: var(--link);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: crimsonText, serif;
  background: var(--input);
  color: var(--input-text2);
  border: 1px solid var(--input-text2);
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: var(--small-font-size);
  font-weight: bold;
  // Button icons:
  svg {
    fill: var(--input-text2);
    margin: 0px 5px;
  }
  &:hover {
    color: var(--input-text);
    border: 1px solid var(--input-text);
    svg {
      fill: var(--input-text);
    }
  }
  
  &.bg2-button {
    background: var(--bg2);
    color: var(--bg-text2);
    border: 1px solid var(--bg-text2);
    &:hover {
      color: var(--bg-text);
      border: 1px solid var(--bg-text);
    }
  }
}

.small-square, .small-icon {
  height: var(--small-font-size);
  width: var(--small-font-size);
}

.floating-element-icons {
  position: absolute;
  height: 30px;
  width: 35px;
  left: -33px;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  top: 0px;
  fill: var(--card);
  &.floating-icons-selected {
    background: var(--card);
    fill: var(--card-text2);
  }
  cursor: pointer;
  &:hover {
    fill: var(--card-text);
  }
}


// Small, single-attribute classes:
.centered {
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}

.bold, .b {
  font-weight: bold;
}
.small-font {
  font-size: var(--small-font-size);
}
.byline {
  font-size: var(--small-font-size);
}
.centered {
  text-align: center;
}

.body {
  background: var(--bg);
  color: var(--bg-text);
}
.header {
  background: var(--bg2);
  color: var(--bg-text);
  h4 {
    color: var(--bg-text2);
  }
}




// SVG classes
.fill-bg {
  fill: var(--bg);
}
.fill-bg2 {
  fill: var(--bg2);
}
.fill-card {
  fill: var(--card);
}
.fill-card2 {
  fill: var(--card2);
}
.fill-bg-text {
  fill: var(--bg-text);
}
svg .hover-fill-bg-text {
  fill: var(--bg-text2);
}
svg:hover .hover-fill-bg-text {
  fill: var(--bg-text);
}
svg .hover-stroke-bg-text {
  stroke: var(--bg-text2);
}
svg:hover .hover-stroke-bg-text {
  stroke: var(--bg-text);
}

svg .hover-fill-c1 {
  fill: var(--bg-text2);
}
svg:hover .hover-fill-c1 {
  fill: var(--c1);
}
svg .hover-stroke-c1 {
  stroke: var(--bg-text2);
}
svg:hover .hover-stroke-c1 {
  stroke: var(--c1);
}

svg .logo-fill {
  fill: var(--logo);
}
svg .logo-stroke {
  stroke: var(--logo);
}

svg .bg-text-fill {
  fill: var(--bg-text)
}

// Add this to a <div> to make a bigger line break.
.big-br {
  height: 50px;
}



// Container for pages and page content.
.container {
  min-height: 100vh;
  background: var(--bg);
}

// Thumbnail for cards
.thumbnail {
  width: 100px;
    height: 100px;
    position: absolute;
    background: var(--bg);
    right: 10px;
    bottom: -85px;
}

.highlight {
  color: var(--c1);
  font-weight: bold;
}

