
// This CSS effects ALL PAGES, GLOBALLY. All other CSS should be scoped. 
// This file is imported into the project in default.vue.


@font-face {
  font-family: crimsonText;
  src: url('../assets/fonts/CrimsonText-Regular.ttf');
}

// Global vars:
:root {
  // Global color scheme vars can be changed dynamically through the vuex store. 

  --box-shading: 5px;

  --very-small-font-size: 10px;
  --small-font-size: 14px;
  --regular-font-size:  19px;
  --h1-font-size: 36px;
  --h2-font-size: 24px;
  --h3-font-size: 24px;
}

// Breakpoints, to make the site responsive to different screen sizes.
// These are sass variables so we can use them in media queries - plus, they don't change with the theme. 
$desktop-bp: 800px;
$tablet-bp: 400px;

html {
  font-family: crimsonText, serif;
  font-size: var(--regular-font-size);
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
input, textarea {
  font-family: crimsonText;
}

.page-content {
  background: var(--bg);
  color: var(--bg-text);
  min-height: 200vh;
  padding-top: 25px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

h1, .h1-input input {
  color: var(--bg-text);
  font-weight: bold;
  font-size: var(--h1-font-size);
  text-align: center;
}
h2, .h2-input input{
  text-align: center;
  font-size: var(--h2-font-size);
}
h3, .h3-input input {
  font-size: var(--h3-font-size);
  font-weight: bold;
}
// Used in edit.vue
h5 {
  font-weight: normal;
  font-size: 15px;
}
p, .p {
  font-size: var(--regular-font-size);
}
a, .a {
  color: var(--link);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.small-square, .small-icon {
  height: var(--small-font-size);
  width: var(--small-font-size);
}

.floating-element-icons {
  position: absolute;
  height: 30px;
  width: 38px;
  left: -38px;
  padding: 5px;
  border-radius: 5px 0px 0px 5px;
  top: 0px;
  fill: var(--card);
  &.floating-icons-selected {
    background: var(--card);
    fill: var(--card-text2);
  }
  cursor: pointer;
  &:hover {
    fill: var(--card-text);
  }
}


// Small, single-attribute classes:
.centered {
  text-align: center;
}
.flex-container {
  display: flex;
}
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.row-wrap {
  flex-flow: row wrap;
}
.small-font-size {
  font-size: var(--small-font-size);
}

.input-flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  .text-field {
    width: 47%;
  }
}

.bold, .b {
  font-weight: bold;
}
.small-font {
  font-size: var(--small-font-size);
}
.byline {
  font-size: var(--small-font-size);
}
.centered {
  text-align: center;
}

.body {
  background: var(--bg);
  color: var(--bg-text);
}
.header {
  background: var(--bg2);
  color: var(--bg-text);
  h4 {
    color: var(--bg-text2);
  }
}

.color-bg-text2 {
  color: var(--bg-text2);
}

// Add this to a <div> to make a bigger line break.
.big-br {
  height: 50px;
}



// Container for pages and page content.
.container {
  width: 100%;
  min-height: 100vh;
  background: var(--bg);
  color: var(--bg-text);
  // Accounts for extra space from sticky header on mobile
  @media only screen and (max-width: $desktop-bp) {
    padding-top: 50px;
  }
}

// Thumbnail for cards
.thumbnail {
  width: 100px;
    height: 100px;
    position: absolute;
    background: var(--bg);
    right: 10px;
    bottom: -85px;
}

.highlight {
  color: var(--c1);
  font-weight: bold;
}

.color-thumbnail {
  width: 15px;
  height: 15px;
  margin: 5px;
  transition: .1s;
  box-shadow: 0px 0px 3px black;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 5px white;
  }
}

.card {
  background: var(--card);
  color: var(--card-text);
  box-shadow: 0px 0px 5px rgba(0,0,0,.8);
  .header, .card-header {
    background: var(--card2);
  }
  h4 {
    color: var(--card-text2);
  }
}
// To give cards a nice little 15px padding
.card-padding {
  .header, .card-header, .card-body {
    padding: 10px 15px;
  }
}

