button {
  font-family: crimsonText, serif;
  background: var(--input);
  color: var(--input-text2);
  border: 1px solid var(--input-text2);
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: var(--small-font-size);
  font-weight: bold;
  padding: 5px 15px;

  // Button icons:
  svg {
    fill: var(--input-text2);
    margin: 0px 5px;
  }
  &:hover {
    color: var(--input-text);
    border: 1px solid var(--input-text);
    svg {
      fill: var(--input-text);
    }
  }
  
  &.bg2-button {
    background: var(--bg2);
    color: var(--bg-text2);
    border: 1px solid var(--bg-text2);
    &:hover {
      color: var(--bg-text);
      border: 1px solid var(--bg-text);
    }
  }
}