

:root {
  --very-small-font-size: 10px;
  --small-font-size: 14px;
  --regular-font-size:  19px;
  --h1-font-size: 36px;
  --h2-font-size: 18px;
  --h3-font-size: 24px;
}




input, textarea {
  font-family: crimsonText;
}


// Applies to all button tags
button {
  font-family: crimsonText, serif;

  background: var(--input);
  color: var(--input-text);
  &.action {
    background: var(--action);
    color: var(--action-text);
  }
  &.danger {
    background: var(--danger);
    color: var(--danger-text);
  }


  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: var(--small-font-size);
  border: none;
  padding: 5px 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);

  // Button icons:
  svg {
    fill: var(--input-text);
    margin: 0px;
    width: var(--small-font-size);
  }
  &:hover {
    color: var(--input-text-light);
    svg {
      fill: var(--input-text-light);
    }
  }
  
  &.bg2-button {
    background: var(--bg2);
    color: var(--bg-text2);
    border: 1px solid var(--bg-text2);
    &:hover {
      color: var(--bg-text);
      border: 1px solid var(--bg-text);
    }
  }
  &.card-button {
    background: var(--card-light);
    &:hover {
      background: var(--card-lighter);
    }
  }
}
