/*
To use:

<div class="body" id="page-id">

  <side-bar></side-bar>

  <div class="content">
    column content
  </div>

</div>
*/

@import '@/styles/style_components/project-display.scss';

// Any root level components should probably have this. 
.content {
  background: var(--bg);
  color: var(--bg-text);
  display: flex;
  position: relative;
}

// 2 column content, like the text of an article. Note that it's an id - there should only be one per page.
.body {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px; // Making the total width 640!
  align-content:flex-start;

  @media only screen and (max-width: $desktop-bp) {
    margin-top: 50px;
  }
}

.full-page {
  width: 100%;
  min-height: 100vh;
}

