

// Backgrounds:
.bg {
  background: var(--bg);
}
.bg-light {
  background: var(--bg-light);
}
.bg-lighter {
  background: var(--bg-lighter);
}
.bg-dark {
  background: var(--bg-dark);
}
.bg-darker {
  background: var(--bg-darker);
}

// Text:
.text {
  background: var(--text);
}
.text-light {
  background: var(--text-light);
}
.text-lighter {
  background: var(--text-lighter);
}
.text-dark {
  background: var(--text-dark);
}
.text-darker {
  background: var(--text-darker);
}

// Font: 
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}