// SVG classes
// 
// Contents:
// - Classes to change fill
// - Classes to change fill on hover
// - Classes to change stroke
// - Classes to change stroke on hover

// Fill classes:
svg .fill-bg {
  fill: var(--bg);
}
svg .fill-bg2 {
  fill: var(--bg2);
}
svg .fill-card {
  fill: var(--card);
}
svg .fill-card2 {
  fill: var(--card2);
}
svg .fill-bg-text {
  fill: var(--bg-text);
}
svg .fill-bg-text2 {
  fill: var(--bg-text2);
}

// Hover fill classes
svg:hover .hover-fill-bg-text {
  fill: var(--bg-text);
}
svg:hover .hover-stroke-bg-text {
  stroke: var(--bg-text);
}

svg .hover-fill-c1 {
  fill: var(--bg-text2);
}
svg:hover .hover-fill-c1 {
  fill: var(--c1);
}

// Stroke classes:
svg .stroke-bg-text2 {
  stroke: var(--bg-text2);
}


svg:hover .hover-stroke-c1 {
  stroke: var(--c1);
}

svg .logo-fill {
  fill: var(--logo);
}
svg .logo-stroke {
  stroke: var(--logo);
}
