
//


// Importing our font, Crimson Text:
@font-face {
  font-family: crimsonText;
  src: url('../assets/fonts/CrimsonText-Regular.ttf');
}

html {
  font-family: crimsonText, serif;
  font-size: var(--regular-font-size);
}

// Headers:
// Main header
h1, .h1-input input {
  color: var(--bg-text);
  font-weight: bold;
  font-size: var(--h1-font-size);
  text-align: center;
}
.content h1, .content .h1-input input {
  text-align: left;
}

// Subtitles – much smaller
h2, .h2-input input{
  text-align: center;
  font-weight: normal;
  font-size: var(--h2-font-size);
}
.content h2, .content .h2-input input {
  text-align: left;
}

.byline {
  color: var(--bg-text2);
  font-size: var(--small-font-size);
} 
.card .byline {
  color: var(--card-text2);
}

h3, .h3-input input {
  font-size: var(--h3-font-size);
  font-weight: bold;
}
// Used in edit.vue
h5 {
  font-weight: normal;
  font-size: 15px;
}

p, .p {
  font-size: var(--regular-font-size);
}

.secondary {
  color: var(--bg-text2);
}
.card .secondary {
  color: var(--card-text2);
}

a, .a {
  color: var(--link);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.i {
  font-style: italic;
}

.danger-text {
  color: var(--danger);
}