
// This CSS effects ALL PAGES, GLOBALLY. All other CSS should be scoped. 
// This file is imported into the project in ~/layouts/default.vue.


// This file is styling for transition components

// NOT USED FOR NOW, turns out it's hard to style transitions to be reusable.


// Apply this as a class to the inner div.
.slide-down {
  overflow: hidden;
}
// Slide-down transition, used in color picker, etc:
.slide-down-enter, .slide-down-leave-to{
  max-height: 0px;
  padding: 0px;
}
.slide-down-enter-active, .slide-down-leave-active {
  transition: max-height .5s;
}
.slide-down-enter-to  /* .fade-leave-active below version 2.1.8 */ {
  max-height: 400px;
  padding: 0px;
}

// Div pops up from the right:
.right-popup-enter, .right-popup-leave-to{
  transform: translatex(400px);
}
.right-popup-enter-active, .right-popup-leave-active {
  transition: transform .5s;
}
.right-popup-enter-to {
  transform: translatex(0px);
}

// Div pops up from the left:
.left-popup-enter, .left-popup-leave-to{
  margin-left: -300px;
}
.left-popup-enter-active, .left-popup-leave-active {
  transition: margin-left .5s;
}
.left-popup-enter-to {
  margin-left: 0px;
}

// // Color picker popup transitions:
// .color-picker-popup-enter, .color-picker-popup-leave-to{
//   max-height: 0px;
// }
// .color-picker-popup-enter-active, .color-picker-popup-leave-active {
//   transition: max-height .5s;
// }
// .color-picker-popup-enter-to,  /* .fade-leave-active below version 2.1.8 */ {
//   max-height: 325px;
// }